# Server
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3002"
DATABASE_URL=""
RESEND_FROM=""
RESEND_TOKEN=""

# Client
NEXT_PUBLIC_API_URL="http://localhost:3002"
NEXT_PUBLIC_WEB_URL="http://localhost:3000"
NEXT_PUBLIC_DASHBOARD_URL="http://localhost:3001"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3002"
NEXT_PUBLIC_DOCS_URL="http://localhost:3004"
